.as-oil {
    &__btn-optin {
        @include btn-blue;
        transition: opacity 0.8s ease 0s;

        &-clicked {
            opacity: 0.3;
        }

        @include media('<=phone') {
            width: auto;
            padding: 0;
        }

        @include media('>desktop') {
            // min-width: 220px;
        }
    }

    &__btn-blue {
        @include btn-blue;
    }

    &__btn-grey {
        @include btn-grey;

        @include media('>desktop') {
            // min-width: 220px;
        }
    }

    &__btn-primary {
        @include btn-primary;
        transition: opacity 0.8s ease 0s;

        &-clicked {
            opacity: 0.3;
        }

        @include media('<=phone') {
            width: auto;
            padding: 0;
        }
    }
    &__btn-secondary {
        @include btn-secondary;
    }
    &__btn-tertiary {
        @include btn-tertiary;
    }
}

.as-oil-l-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > * {
        display: flex;
        justify-content: center;
    }

    @include media('<desktop') {
        margin-top: 1rem;
        border-top: 1px solid lightgray;
        padding-top: 1rem;
    }

    @include media('>desktop') {
        // We are vertically aligning this btn by using margins, which is a bit dirty
        width: 25%;
        flex-direction: column;
        margin-top: 1rem;
        align-items: flex-end;
    }


    .Reject & {
        flex-direction: column;

        .as-oil__btn-primary {
            width: 100%;
            max-width: unset;
        }

        @include media('>=tablet') {
            flex-direction: row;
            justify-content: center;
        }

        @include media('>desktop') {
            // We are vertically aligning this btn by using margins, which is a bit dirty
            width: 100%;
            flex-direction: row;
            margin-top: 1rem;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}

.as-oil-back-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    order: 0;
    padding: 0;
    margin-bottom: 1rem;

    &__icon {
        max-height: 1rem;
        max-width: 1rem;
    }

    &__text {
        margin-left: 1rem;
    }

    display: flex;
    align-items: center;
}

